<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div class="card">
    <div class="card-content">
        <h1>
            Welcome to {{ .Organization.OrganizationName }}
        </h1>
        <h2>Organization Info</h2>
        <p>Name: {{ .Organization.OrganizationName }}</p>
        <br/>
        <p>Slug: {{ .Organization.OrganizationSlug }}</p>
        {{ if eq .Organization.EmailJITProvisioning "NOT_ALLOWED" }}
            {{ if .Member.IsAdmin }}
                <button type="submit" onClick="enableJIT()">Enable JIT Provisioning by Email Domain</button>
            {{ else }}
                <p> JIT Provisioning: NOT_ALLOWED </p>
            {{ end }}
        {{ else }}
            <p>JIT Provisioning Allowed for Domains: {{ .Organization.EmailAllowedDomains }} </p>
        {{ end }}
        <h2>Profile Info</h2>
        <p>Email: {{ .Member.EmailAddress }}</p>
        <p>Admin Role: {{ .Member.IsAdmin }}</p>
    </div>
    <button type="submit" onclick="logout()">Logout</button>
    <button type="submit" onclick="switchOrgs()">Switch Organizations</button>
    <script>
        function logout() {
            // Redirect to the Flask logout route
            window.location.href = `/logout`;
        }

        function enableJIT() {
            window.location.href = `/enable-jit`;
        }

        function switchOrgs() {
            window.location.href = `/switch-orgs`;
        }
    </script>
</div>
</body>
</html>